@{
    ViewData["Title"] = "Home MVC Mateo";
}

<div class="text-center">
    <h1 class="display-4">Proyecto web MVC2 Mateo Jaramillo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
