@model TallerMVC2_MJ.Models.MJBurger

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MJBurger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MJCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MJName" class="control-label"></label>
                <input asp-for="MJName" class="form-control" />
                <span asp-validation-for="MJName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MJWithCheese" /> @Html.DisplayNameFor(model => model.MJWithCheese)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MJPrecio" class="control-label"></label>
                <input asp-for="MJPrecio" class="form-control" />
                <span asp-validation-for="MJPrecio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MJIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
